.modal-links {
    display: flex;
    gap: 1em;
    position: fixed;
    bottom: 0;
    right: 1em;
}

.img-newsletter {
    width: 100px;
    height: auto;
}

.img-cookies {
    width: 150px;
    height: auto;
}

.img-login {
    width: 96px;
    height: auto;
    padding-right: 36px;
}

.modal-link {
    cursor: pointer;
}

.close {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    cursor: url(./asset/img/cross_white.png) 10 10, auto;
  }
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    cursor: auto;
  }